/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

header,
nav,
section {
  display: block;
}

script {
  display: none!important;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  background: 0 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

img {
  border: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  height: 100%;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  font-size: 100%;
}

body {
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

.left {
  float: left!important;
}

.right {
  float: right!important;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  min-height: 50px;
}

select {
  width: 100%;
}

.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: 400;
  position: relative;
  padding: .875rem 1.5rem .875rem .875rem;
  font-size: .8125rem;
  background-color: #1da047;
  border-color: #198a3d;
  color: #fff;
}

.alert-box .close {
  font-size: 1.375rem;
  padding: 9px 6px 4px;
  line-height: 0;
  position: absolute;
  top: 50%;
  margin-top: -.6875rem;
  right: .25rem;
  color: #333;
  opacity: .3;
}

.alert-box .close:focus,
.alert-box .close:hover {
  opacity: .5;
}

.alert-box.radius {
  border-radius: 2px;
}

[class*=block-grid-] {
  display: block;
  padding: 0;
  margin: 0 -.625rem;
  *zoom: 1;
}

[class*=block-grid-]:after,
[class*=block-grid-]:before {
  content: " ";
  display: table;
}

[class*=block-grid-]:after {
  clear: both;
}

[class*=block-grid-]>li {
  display: block;
  height: auto;
  float: left;
  padding: 0 .625rem 1.25rem;
}

@media only screen {
  .small-block-grid-3>li {
    width: 33.33333%;
    list-style: none;
  }

  .small-block-grid-3>li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-3>li:nth-of-type(3n+1) {
    clear: both;
  }

  .small-block-grid-4>li {
    width: 25%;
    list-style: none;
  }

  .small-block-grid-4>li:nth-of-type(n) {
    clear: none;
  }

  .small-block-grid-4>li:nth-of-type(4n+1) {
    clear: both;
  }
}

.button,
button {
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #1da047;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 1.0625rem;
  padding-bottom: 1rem;
  -webkit-appearance: none;
  border: 0;
  font-weight: 400!important;
}

.button:focus,
.button:hover,
button:focus,
button:hover {
  background-color: #178039;
  color: #fff;
}

.button.secondary {
  background-color: #d22c25;
  border-color: #a8231e;
  color: #fff;
}

.button.secondary:focus,
.button.secondary:hover {
  background-color: #a8231e;
  color: #fff;
}

.button.success {
  background-color: #43ac6a;
  border-color: #368a55;
  color: #fff;
}

.button.success:focus,
.button.success:hover {
  background-color: #368a55;
  color: #fff;
}

.button.tiny,
.unfollow-btn,
button.tiny {
  padding-top: .625rem;
  padding-right: 1.25rem;
  padding-bottom: .6875rem;
  padding-left: 1.25rem;
  font-size: .6875rem;
}

.button.radius,
button.radius {
  border-radius: 2px;
}

@media only screen and (min-width:40.063em) {
  .button,
  button {
    display: inline-block;
  }
}

form .row .row {
  margin: 0 -.5rem;
}

form .row .row .columns {
  padding: 0 .5rem;
}

form .row .row.collapse {
  margin: 0;
}

form .row .row.collapse .columns {
  padding: 0;
}

form .row .row.collapse input {
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
}

label {
  font-size: .875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
}

label.right {
  float: none;
  text-align: right;
}

select {
  -webkit-appearance: none!important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center right 3%;
  border: 1px solid #ccc;
  padding: .5rem;
  font-size: .875rem;
  border-radius: 0;
}

select:hover {
  background-color: #f3f3f3;
  border-color: #999;
}

select::-ms-expand {
  display: none;
}

@-moz-document url-prefix()  {
  select {
    background: #fafafa;
  }

  select:hover {
    background: #f3f3f3;
  }
}

.prefix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: .875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
}

span.prefix {
  background: #f2f2f2;
  border-right: 0;
  color: #333;
  border-color: #ccc;
}

input[type=password],
input[type=text],
textarea {
  -webkit-appearance: none;
  background-color: #fff;
  font-family: inherit;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  color: rgba(0,0,0,.75);
  display: block;
  font-size: .875rem;
  margin: 0 0 1rem;
  padding: .5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow .45s,border-color .45s ease-in-out;
  transition: box-shadow .45s,border-color .45s ease-in-out;
}

input[type=password]:focus,
input[type=text]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  background: #fafafa;
  border-color: #999;
  outline: 0;
}

select {
  height: 2.3125rem;
}

input[type=checkbox],
input[type=file],
input[type=radio],
select {
  margin: 0 0 1rem;
}

input[type=checkbox]+label,
input[type=radio]+label {
  display: inline-block;
  margin-left: .5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

input[type=file] {
  width: 100%;
}

fieldset {
  border: solid 1px #ddd;
  padding: 1.25rem;
  margin: 1.125rem 0;
}

[data-abide] .error small.error,
[data-abide] small.error,
[data-abide] span.error {
  display: block;
  padding: .375rem .5625rem .5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: .75rem;
  font-weight: 400;
  font-style: italic;
  background: #f04124;
  color: #fff;
}

[data-abide] small.error,
[data-abide] span.error {
  display: none;
}

small.error,
span.error {
  display: block;
  padding: .375rem .5625rem .5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: .75rem;
  font-weight: 400;
  font-style: italic;
  background: #f04124;
  color: #fff;
}

.error input,
.error select,
.error textarea {
  margin-bottom: 0;
}

.error input[type=checkbox],
.error input[type=radio] {
  margin-bottom: 1rem;
}

.error label,
.error label.error {
  color: #f04124;
}

.error small.error {
  display: block;
  padding: .375rem .5625rem .5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: .75rem;
  font-weight: 400;
  font-style: italic;
  background: #f04124;
  color: #fff;
}

.error>label>small {
  color: #676767;
  background: 0 0;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline;
}

.error span.error-message {
  display: block;
}

input.error,
textarea.error {
  margin-bottom: 0;
}

label.error {
  color: #f04124;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 75rem;
  *zoom: 1;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse>.columns {
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.row .row {
  width: auto;
  margin-left: -.9375rem;
  margin-right: -.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.row .row:after,
.row .row:before {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.row .row.collapse:after,
.row .row.collapse:before {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

.columns {
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 100%;
  float: left;
}

@media only screen {
  .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
  }

  .small-1 {
    width: 8.33333%;
  }

  .small-2 {
    width: 16.66667%;
  }

  .small-3 {
    width: 25%;
  }

  .small-6 {
    width: 50%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.33333%;
  }

  .small-12 {
    width: 100%;
  }

  [class*=column]+[class*=column]:last-child {
    float: right;
  }
}

@media only screen and (min-width:40.063em) {
  .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
  }

  [class*=column]+[class*=column]:last-child {
    float: right;
  }
}

@media only screen and (min-width:64.063em) {
  .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
  }

  [class*=column]+[class*=column]:last-child {
    float: right;
  }
}

.inline-list,
.product-list,
.rating-stars,
.service-list {
  margin: 0 auto 1.0625rem;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.inline-list>li,
.product-list>li,
.rating-stars>li,
.service-list>li {
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}

.product-list>li>*,
.rating-stars>li>*,
.service-list>li>* {
  display: block;
}

table {
  background: #fff;
  margin-bottom: 1.25rem;
  border: solid 1px #ddd;
}

table tr td {
  padding: .5625rem .625rem;
  font-size: .875rem;
  color: #222;
}

table tr:nth-of-type(even) {
  background: #f9f9f9;
}

table tbody tr td,
table tr td {
  display: table-cell;
  line-height: 1.125rem;
}

.th {
  line-height: 0;
  display: inline-block;
  border: solid 4px #fff;
  max-width: 100%;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.2);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.th:focus,
.th:hover {
  -webkit-box-shadow: 0 0 6px 1px rgba(29,160,71,.5);
  box-shadow: 0 0 6px 1px rgba(29,160,71,.5);
}

.js-generated {
  display: block;
}

div,
form,
h1,
h3,
h4,
h5,
h6,
li,
ol,
p,
td,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3499ff;
  text-decoration: none;
  line-height: inherit;
}

a:focus,
a:hover {
  color: #0983ff;
}

a img {
  border: 0;
}

p {
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
  margin-top: .2rem;
  margin-bottom: .5rem;
  line-height: 1.4;
}

h4 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.375rem;
}

h4,
h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 400;
  margin-top: .2rem;
  margin-bottom: .5rem;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

strong {
  font-weight: 700;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

ol,
ul {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

ul {
  margin-left: 1.1rem;
}

.result-item .business-bardge-holder ul,
.top-business-info .business-bardge-holder ul,
ul.category-list,
ul.events-list,
ul.no-bullet,
ul.social-login-buttons {
  margin-left: 0;
}

.result-item .business-bardge-holder ul,
.top-business-info .business-bardge-holder ul,
ul.category-list,
ul.events-list,
ul.no-bullet,
ul.social-login-buttons {
  list-style: none;
}

ol {
  margin-left: 1.4rem;
}

ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

.vcard {
  display: inline-block;
  margin: 0 0 1.25rem;
  border: 1px solid #ddd;
  padding: .625rem .75rem;
}

.vcard li {
  margin: 0;
  display: block;
}

.vcard .fn {
  font-weight: 700;
  font-size: .9375rem;
}

@media only screen and (min-width:40.063em) {
  h1,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }
}

@media print {
  * {
    background: transparent!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h3 {
    page-break-after: avoid;
  }
}

.text-left {
  text-align: left!important;
}

.category-list li.title,
.gray-header,
.mobile-footer .footer-centered,
.mobile-footer .footer-row .copyright,
.search-pagination .mobile-container .view-more,
.text-center {
  text-align: center!important;
}

.inner-wrap {
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 100%;
  *zoom: 1;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
}

.inner-wrap:after,
.inner-wrap:before {
  content: " ";
  display: table;
}

.inner-wrap:after {
  clear: both;
}

.mobile-wrap nav.tab-bar,
.tab-bar {
  -webkit-backface-visibility: hidden;
  background: #fff;
  color: #212121;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
}

.left-small,
.mobile-wrap .tab-bar section.left-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
  border-right: solid 1px gray;
  -webkit-box-shadow: 1px 0 0 #fff;
  box-shadow: 1px 0 0 #fff;
  left: 0;
}

.mobile-wrap .tab-bar section.right-small,
.right-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
  border-left: solid 1px #fff;
  -webkit-box-shadow: -1px 0 0 gray;
  box-shadow: -1px 0 0 gray;
  right: 0;
}

.tab-bar-section {
  padding: 0 .625rem;
  position: absolute;
  text-align: center;
  height: 2.8125rem;
  top: 0;
}

@media only screen and (min-width:40.063em) {
  .tab-bar-section {
    text-align: left;
  }
}

.tab-bar-section.middle {
  left: 2.8125rem;
  right: 2.8125rem;
}

.menu-icon {
  text-indent: 2.1875rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  line-height: 2.0625rem;
  padding: 0;
  color: #212121;
  position: relative;
}

.menu-icon span {
  position: absolute;
  display: block;
  width: 1.3rem;
  height: 0;
  left: .8125rem;
  top: .3125rem;
  -webkit-box-shadow: 0 10px 0 1px #e77b76,0 16px 0 1px #e77b76,0 22px 0 1px #e77b76;
  box-shadow: 0 10px 0 1px #e77b76,0 16px 0 1px #e77b76,0 22px 0 1px #e77b76;
}

.menu-icon:hover span {
  -webkit-box-shadow: 0 10px 0 1px #d02c25,0 16px 0 1px #d02c25,0 22px 0 1px #d02c25;
  box-shadow: 0 10px 0 1px #d02c25,0 16px 0 1px #d02c25,0 22px 0 1px #d02c25;
}

.mobile-wrap .left-menu {
  -webkit-backface-visibility: hidden;
  width: 15.625rem;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  background: #333;
  z-index: 1001;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  left: 0;
}

.mobile-wrap .left-menu * {
  -webkit-backface-visibility: hidden;
}

ul.off-canvas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.off-canvas-list li label {
  padding: .3rem .9375rem;
  color: #999;
  text-transform: uppercase;
  font-weight: 700;
  background: #444;
  border-top: 1px solid #5e5e5e;
  border-bottom: 0;
  margin: 0;
}

ul.off-canvas-list li a {
  display: block;
  padding: .66667rem;
  color: rgba(255,255,255,.7);
  border-bottom: 1px solid #262626;
}

.move-right>.inner-wrap {
  -webkit-transform: translate3d(15.625rem,0,0);
  -ms-transform: translate3d(15.625rem,0,0);
  transform: translate3d(15.625rem,0,0);
}

.move-right .exit-off-canvas {
  -webkit-backface-visibility: hidden;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
  cursor: pointer;
  -webkit-box-shadow: -4px 0 4px rgba(0,0,0,.5),4px 0 4px rgba(0,0,0,.5);
  box-shadow: -4px 0 4px rgba(0,0,0,.5),4px 0 4px rgba(0,0,0,.5);
  display: block;
  position: absolute;
  background: rgba(255,255,255,.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width:40.063em) {
  .move-right .exit-off-canvas:hover {
    background: rgba(255,255,255,.05);
  }
}

.move-left>.inner-wrap {
  -webkit-transform: translate3d(-15.625rem,0,0);
  -ms-transform: translate3d(-15.625rem,0,0);
  transform: translate3d(-15.625rem,0,0);
}

.move-left .exit-off-canvas {
  -webkit-backface-visibility: hidden;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
  cursor: pointer;
  -webkit-box-shadow: -4px 0 4px rgba(0,0,0,.5),4px 0 4px rgba(0,0,0,.5);
  box-shadow: -4px 0 4px rgba(0,0,0,.5),4px 0 4px rgba(0,0,0,.5);
  display: block;
  position: absolute;
  background: rgba(255,255,255,.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width:40.063em) {
  .move-left .exit-off-canvas:hover {
    background: rgba(255,255,255,.05);
  }
}

.csstransforms.no-csstransforms3d .move-left>.inner-wrap {
  -webkit-transform: translate(-15.625rem,0);
  -ms-transform: translate(-15.625rem,0);
  transform: translate(-15.625rem,0);
}

.csstransforms.no-csstransforms3d .move-right>.inner-wrap {
  -webkit-transform: translate(15.625rem,0);
  -ms-transform: translate(15.625rem,0);
  transform: translate(15.625rem,0);
}

.no-csstransforms .move-left>.inner-wrap {
  right: 15.625rem;
}

.no-csstransforms .move-right>.inner-wrap {
  left: 15.625rem;
}

.red {
  color: #d22c25;
}

.green {
  color: #1da047;
}

.black {
  color: #212121;
}

.white {
  color: #fff;
}

.muted {
  color: #ccc;
}

.action-btn.active {
  background: #fff;
  color: #d22c25;
}

.tags {
  font-size: .875rem;
  margin: 0;
}

.alert-box.success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert-box.error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert-box.warning {
  background-color: #f8eeb7;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert-box.info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

@font-face {
  font-family: icomoon;
  src: url(../font/icomoon.eot?jtumo);
  src: url(../font/icomoon.eot?#iefixjtumo) format("embedded-opentype"),url(../font/icomoon.woff?jtumo) format("woff"),url(../font/icomoon.ttf?jtumo) format("truetype"),url(../font/icomoon.svg?jtumo#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}

.rating-stars {
  margin-bottom: 0;
  display: inline-block;
  line-height: inherit;
  margin-left: 0;
}

.rating-stars>li {
  margin-left: 0;
}

.rating-stars>li .rating-star-empty:before,
.rating-stars>li .rating-star:before {
  color: #d22c25;
}

.button-red {
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  background-color: #d22c25;
  border: 1px solid #d22c25;
}

.button-red:focus,
.button-red:hover {
  background-color: #a8231e;
  color: #fff;
}

.button-red.radius {
  background-color: #d22c25;
  border-color: #a8231e;
  color: #fff;
  border-radius: 2px;
}

.button-red.radius:focus,
.button-red.radius:hover {
  background-color: #a8231e;
  color: #fff;
}

.button-red.x-tiny {
  font-size: .6875rem;
  margin-bottom: .1875rem;
  display: inline-block;
  padding-right: 1.3125rem;
  padding-left: 1.3125rem;
  padding-top: .4375rem;
  padding-bottom: .4375rem;
}

.button-red.like-button:before,
.button-red.review-button:before,
.button-red.save-button:before,
.button-red.share-button:before,
.button-red.sms-button:before {
  display: inline!important;
  margin-right: -.3125rem!important;
  font-size: 130%;
  position: relative;
  left: -.625rem;
  top: .125rem;
}

.button-red:hover {
  background-color: #bc2721;
}

.button-red.active {
  background-color: #fff;
  color: #d22c25;
}

.button-green {
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  background-color: #1da047;
  border: 1px solid #1da047;
}

.button-green:focus,
.button-green:hover {
  background-color: #178039;
  color: #fff;
}

.button-green.radius {
  background-color: #1da047;
  border-color: #178039;
  color: #fff;
  border-radius: 2px;
}

.button-green.radius:focus,
.button-green.radius:hover {
  background-color: #178039;
  color: #fff;
}

.button-green.x-tiny {
  font-size: .6875rem;
  margin-bottom: .1875rem;
  display: inline-block;
  padding-right: 1.3125rem;
  padding-left: 1.3125rem;
  padding-top: .4375rem;
  padding-bottom: .4375rem;
}

.button-green.search-button:before {
  display: inline!important;
  margin-right: -.3125rem!important;
  font-size: 130%;
  position: relative;
  left: -.625rem;
  top: .125rem;
}

.button-green.no-text:before {
  font-size: 150%;
  margin-right: 0;
  margin-left: 0;
  left: 0;
  display: inline-block!important;
}

.button-green:hover {
  background-color: #198a3d;
}

.button-green.active {
  background-color: #fff;
  color: #1da047;
}

.button-black {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  border-color: #1a1a1a;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  background-color: #212121;
  color: #fff;
}

.button-black:focus,
.button-black:hover {
  background-color: #1a1a1a;
  color: #fff;
}

.button-black.radius {
  background-color: #212121;
  border-color: #1a1a1a;
  color: #fff;
  border-radius: 2px;
}

.button-black.radius:focus,
.button-black.radius:hover {
  background-color: #1a1a1a;
  color: #fff;
}

.button-black.x-tiny {
  font-size: .6875rem;
  margin-bottom: .1875rem;
  display: inline-block;
  padding-right: 1.3125rem;
  padding-left: 1.3125rem;
  padding-top: .4375rem;
  padding-bottom: .4375rem;
}

.button-white {
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  background-color: #fff;
  color: #595959;
  border: 1px solid #ccc;
}

.button-white:focus,
.button-white:hover {
  background-color: #ccc;
  color: #333;
}

.button-white.radius {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
  border-radius: 2px;
}

.button-white.radius:focus,
.button-white.radius:hover {
  background-color: #ccc;
  color: #333;
}

.button-white.x-tiny {
  font-size: .6875rem;
  margin-bottom: .1875rem;
  display: inline-block;
  padding-right: 1.3125rem;
  padding-left: 1.3125rem;
  padding-top: .4375rem;
  padding-bottom: .4375rem;
}

.button-white:hover {
  background-color: #fafafa;
}

.button-transparent {
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  border: #fff solid .125rem;
}

.button-transparent:focus,
.button-transparent:hover {
  background-color: transparent;
  color: #fff;
}

.button-transparent.radius {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  border-radius: 2px;
}

.button-transparent.radius:focus,
.button-transparent.radius:hover {
  background-color: transparent;
  color: #fff;
}

.button-transparent.x-tiny {
  font-size: .6875rem;
  margin-bottom: .1875rem;
  display: inline-block;
  padding-right: 1.3125rem;
  padding-left: 1.3125rem;
  padding-top: .4375rem;
  padding-bottom: .4375rem;
}

.button-fb {
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  background-color: #4c70ba;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #718dc8;
  min-width: 15.875rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-fb.radius {
  background-color: #3b5998;
  border-color: #2f477a;
  color: #fff;
  border-radius: 2px;
}

.button-fb.radius:focus,
.button-fb.radius:hover {
  background-color: #2f477a;
  color: #fff;
}

.button-fb.x-tiny {
  font-size: .6875rem;
  margin-bottom: .1875rem;
  display: inline-block;
  padding-right: 1.3125rem;
  padding-left: 1.3125rem;
  padding-top: .4375rem;
  padding-bottom: .4375rem;
}

.button-fb:focus,
.button-fb:hover {
  background-color: #3b5897;
  color: #fff;
}

.button-fb .icon-facebook:before {
  position: absolute;
  width: 3.4375rem;
  height: 3.3125rem;
  background-color: #3b5998;
  left: -.375rem;
  top: 0;
  line-height: 1.5;
  font-size: 215%;
  border-radius: 3px 0 0 3px;
}

.button-fb.icon {
  padding-left: 4.0625rem;
  border-radius: .1875rem;
}

.button-tw {
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  background-color: #22c2ff;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #55d0ff;
  min-width: 15.875rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-tw.radius {
  background-color: #00acee;
  border-color: #008abe;
  color: #fff;
  border-radius: 2px;
}

.button-tw.radius:focus,
.button-tw.radius:hover {
  background-color: #008abe;
  color: #fff;
}

.button-tw.x-tiny {
  font-size: .6875rem;
  margin-bottom: .1875rem;
  display: inline-block;
  padding-right: 1.3125rem;
  padding-left: 1.3125rem;
  padding-top: .4375rem;
  padding-bottom: .4375rem;
}

.button-tw:focus,
.button-tw:hover {
  background-color: #00a7e7;
  color: #fff;
}

.button-tw .icon-twitter:before {
  position: absolute;
  width: 3.4375rem;
  height: 3.3125rem;
  background-color: #00acee;
  left: -.375rem;
  top: 0;
  line-height: 1.5;
  font-size: 215%;
  border-radius: 3px 0 0 3px;
}

.button-tw.icon {
  padding-left: 4.0625rem;
  border-radius: .1875rem;
}

.button-gplus {
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  background-color: #e47365;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #ec9a90;
  min-width: 15.875rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-gplus.radius {
  background-color: #dd4b39;
  border-color: #be3221;
  color: #fff;
  border-radius: 2px;
}

.button-gplus.radius:focus,
.button-gplus.radius:hover {
  background-color: #be3221;
  color: #fff;
}

.button-gplus.x-tiny {
  font-size: .6875rem;
  margin-bottom: .1875rem;
  display: inline-block;
  padding-right: 1.3125rem;
  padding-left: 1.3125rem;
  padding-top: .4375rem;
  padding-bottom: .4375rem;
}

.button-gplus:focus,
.button-gplus:hover {
  background-color: #db402c;
  color: #fff;
}

.button-gplus .icon-gplus:before {
  position: absolute;
  width: 3.4375rem;
  height: 3.3125rem;
  background-color: #dd4b39;
  left: -.375rem;
  top: 0;
  line-height: 1.5;
  font-size: 215%;
  border-radius: 3px 0 0 3px;
}

.button-gplus.icon {
  padding-left: 4.0625rem;
  border-radius: .1875rem;
}

.action-btn {
  height: 2.1875rem;
  padding: .625rem 1rem .5625rem;
  text-transform: uppercase;
  font-size: .875rem;
}

.unfollow-btn {
  font-size: .875rem;
}

.unfollow-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #595959;
  font-size: .875rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.unfollow-btn:hover {
  background-color: #fafafa;
  color: #d22c25;
}

ol.upper-alpha {
  list-style-type: upper-alpha;
}

ol.lower-roman {
  list-style-type: lower-roman;
}

ol.reset {
  counter-reset: section;
  list-style-type: none!important;
}

ol.reset li .counter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol.reset li .counter:before {
  counter-increment: section;
  content: counter(section) " ";
  display: inline-block;
}

ol.reset li .counter.lower-roman:before {
  content: counter(section,lower-roman) " "!important;
}

ol.reset li .counter.upper-alpha:before {
  content: counter(section,upper-alpha) " "!important;
}

ol.reset li .counter.bold:before {
  font-weight: 700;
}

ol.reset li .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  left: 20px;
}

.mobile-container,
.mobile-featured-businesses .featured-business-container,
.verify-holder {
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none!important;
}

.action-buttons,
.advertise-row,
.business-contact-info,
.business-products,
.business-registed-container,
.business-reviews,
.business-services,
.category-list-container,
.claim-business-container,
.claim-explainer,
.connect-your-business,
.email-login,
.featured-business,
.feedback-container,
.feedback-explainer,
.filter-results,
.gray-header,
.login-container,
.mobile-featured-businesses,
.mobile-footer-banner,
.mobile-jumbotron,
.mobile-quick-search,
.photo-gallery,
.post-requirements,
.rate-business-container,
.rating-form,
.rating-option,
.report-business,
.report-incorrect-container,
.result-item,
.results-header,
.review-body,
.review-header,
.search-pagination,
.share-container,
.social-login,
.tag-holder,
.top-business-info,
.top-business-info-container,
.verify-container,
.way-points,
.way-points-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 75rem;
  *zoom: 1;
}

.action-buttons:after,
.action-buttons:before,
.advertise-row:after,
.advertise-row:before,
.business-contact-info:after,
.business-contact-info:before,
.business-products:after,
.business-products:before,
.business-registed-container:after,
.business-registed-container:before,
.business-reviews:after,
.business-reviews:before,
.business-services:after,
.business-services:before,
.category-list-container:after,
.category-list-container:before,
.claim-business-container:after,
.claim-business-container:before,
.claim-explainer:after,
.claim-explainer:before,
.connect-your-business:after,
.connect-your-business:before,
.email-login:after,
.email-login:before,
.featured-business:after,
.featured-business:before,
.feedback-container:after,
.feedback-container:before,
.feedback-explainer:after,
.feedback-explainer:before,
.filter-results:after,
.filter-results:before,
.gray-header:after,
.gray-header:before,
.login-container:after,
.login-container:before,
.mobile-featured-businesses:after,
.mobile-featured-businesses:before,
.mobile-footer-banner:after,
.mobile-footer-banner:before,
.mobile-jumbotron:after,
.mobile-jumbotron:before,
.mobile-quick-search:after,
.mobile-quick-search:before,
.photo-gallery:after,
.photo-gallery:before,
.post-requirements:after,
.post-requirements:before,
.rate-business-container:after,
.rate-business-container:before,
.rating-form:after,
.rating-form:before,
.rating-option:after,
.rating-option:before,
.report-business:after,
.report-business:before,
.report-incorrect-container:after,
.report-incorrect-container:before,
.result-item:after,
.result-item:before,
.results-header:after,
.results-header:before,
.review-body:after,
.review-body:before,
.review-header:after,
.review-header:before,
.search-pagination:after,
.search-pagination:before,
.share-container:after,
.share-container:before,
.social-login:after,
.social-login:before,
.tag-holder:after,
.tag-holder:before,
.top-business-info-container:after,
.top-business-info-container:before,
.top-business-info:after,
.top-business-info:before,
.verify-container:after,
.verify-container:before,
.way-points-header:after,
.way-points-header:before,
.way-points:after,
.way-points:before {
  content: " ";
  display: table;
}

.action-buttons:after,
.advertise-row:after,
.business-contact-info:after,
.business-products:after,
.business-registed-container:after,
.business-reviews:after,
.business-services:after,
.category-list-container:after,
.claim-business-container:after,
.claim-explainer:after,
.connect-your-business:after,
.email-login:after,
.featured-business:after,
.feedback-container:after,
.feedback-explainer:after,
.filter-results:after,
.gray-header:after,
.login-container:after,
.mobile-featured-businesses:after,
.mobile-footer-banner:after,
.mobile-jumbotron:after,
.mobile-quick-search:after,
.photo-gallery:after,
.post-requirements:after,
.rate-business-container:after,
.rating-form:after,
.rating-option:after,
.report-business:after,
.report-incorrect-container:after,
.result-item:after,
.results-header:after,
.review-body:after,
.review-header:after,
.search-pagination:after,
.share-container:after,
.social-login:after,
.tag-holder:after,
.top-business-info-container:after,
.top-business-info:after,
.verify-container:after,
.way-points-header:after,
.way-points:after {
  clear: both;
}

.no-margin.margin-bottom {
  margin-bottom: 0;
}

.result-item .business-img-holder,
.top-business-info .business-img-holder {
  padding-left: 0;
  padding-right: 0;
  width: 16.66667%;
  float: left;
}

.result-item .business-info-holder,
.top-business-info .business-info-holder {
  padding-right: 0;
  width: 66.66667%;
  float: left;
  padding-left: .625rem;
  margin-top: -.25rem;
}

.result-item .business-info-holder .business-name h4 {
  color: #d22c25;
  font-size: 96%;
  line-height: 1.3;
  padding-right: 10px;
}

.result-item .business-info-holder .business-name h4 a {
  color: inherit;
}

.result-item .business-info-holder .business-name h4 span {
  padding-right: .1875rem;
}

.result-item .business-info-holder .business-name h4 span:after {
  content: ".";
}

.result-item .business-info-holder .business-rating .rating-stars,
.top-business-info .business-info-holder .business-rating .rating-stars {
  line-height: 1.3;
}

.result-item .business-info-holder .business-rating .rating-stars .rating-star,
.top-business-info .business-info-holder .business-rating .rating-stars .rating-star {
  font-size: 90%;
}

.result-item .business-info-holder .business-location p,
.top-business-info .business-info-holder .business-location p {
  font-size: 75%;
  line-height: 1.3;
  margin-bottom: .5625rem;
}

.top-business-info .business-info-holder .review-count {
  font-size: 75%;
  position: relative;
  top: -.3125rem;
  color: #3499ff;
  text-decoration: underline;
}

.result-item .business-bardge-holder,
.top-business-info .business-bardge-holder {
  padding-left: 0;
  padding-right: 0;
  width: 16.66667%;
  float: left;
}

.result-item .business-bardge-holder ul li,
.top-business-info .business-bardge-holder ul li {
  font-size: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result-item .business-bardge-holder ul li.distance,
.top-business-info .business-bardge-holder ul li.distance {
  color: #d7d7d7;
}

.result-item .business-bardge-holder ul li.recommend {
  color: #d22c25;
  text-indent: -.625rem;
}

.result-item .tag-holder * {
  margin-bottom: .1875rem!important;
}

.result-item .tag-list {
  margin: 0 auto 1.0625rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  margin-left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 1.25rem;
  text-overflow: ellipsis;
}

.result-item .tag-list>li {
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}

.result-item .tag-list>li>* {
  display: block;
}

.result-item .tag-list .tag {
  margin-left: 0;
  margin-right: .5rem;
}

.result-item .tag-list .tag a {
  text-decoration: underline;
  font-size: 80%;
  color: #3499ff;
}

.result-item .vc-ad {
  color: #d7d7d7;
  font-size: 60%;
  text-overflow: ellipsis;
}

.featured-business .business-img-holder {
  padding-left: 0;
  padding-right: 0;
  width: 16.66667%;
  float: left;
}

.featured-business .business-info-holder {
  padding-right: 0;
  width: 83.33333%;
  float: left;
  padding-left: .625rem;
  margin-top: -.25rem;
}

.featured-business .business-info-holder .business-name h4 {
  color: #d22c25;
  font-size: 96%;
  line-height: 1.3;
  padding-right: 10px;
}

.featured-business .business-info-holder .business-name h4 span {
  padding-right: .1875rem;
}

.featured-business .business-info-holder .business-name h4 span:after {
  content: ".";
}

.featured-business .business-info-holder .business-rating .rating-stars {
  line-height: 1.3;
}

.featured-business .business-info-holder .business-rating .rating-stars .rating-star {
  font-size: 90%;
}

.featured-business .business-info-holder .business-location p {
  font-size: 75%;
  line-height: 1.3;
  margin-bottom: .5625rem;
}

.mobile-footer-banner {
  background-color: #f6f6f6;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.columns.collapse {
  padding-left: 0;
  padding-right: 0;
}

.gray-header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #bebebe;
  padding-bottom: .3125rem;
  padding-top: .5rem;
}

.gray-header h4 {
  color: #d22c25;
  text-transform: uppercase;
}

.explainer {
  color: #585858;
  font-style: italic;
  font-size: 80%;
}

.no-bg {
  background: transparent!important;
}

.input-required-label:after {
  content: "*";
  color: #d22c25;
  padding-left: .1875rem;
}

.input-optional-label:after {
  content: "(Optional)";
  color: #1da047;
  padding-left: .3125rem;
  font-size: 80%;
}

.congrats-holder {
  padding-top: .625rem;
  padding-bottom: 1.25rem;
}

.congrat-message,
.verify-holder .verify-message {
  font-size: 84%;
}

.red-link {
  color: #d22c25!important;
}

.underline {
  text-decoration: underline!important;
}

.divider {
  color: #8b8b8b;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  font-size: .8125rem;
  text-align: center;
}

.divider:after,
.divider:before {
  content: "";
  width: 34%;
  height: 1px;
  background-color: #a4a4a4;
  display: inline-block;
  margin: 0 7px 3px;
}

.social-login-buttons {
  margin-bottom: 0;
}

.social-login-buttons li {
  text-align: center!important;
}

.social-login-buttons li a {
  margin-bottom: .625rem;
}

.alert-box {
  margin-bottom: 0;
}

.hide {
  display: none!important;
}

.jumbotron-lead,
.jumbotron-well {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0,0,0,.5),0 -1px 1px rgba(0,0,0,.6);
}

.jumbotron-well {
  font-weight: 400;
  font-size: 80%;
}

.not-found-content {
  padding-top: .9375rem;
}

.not-found-content p {
  font-size: 85%;
}

.mobile-wrap {
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

.mobile-wrap .left-menu {
  height: auto!important;
}

.mobile-wrap .tab-bar,
.mobile-wrap nav.tab-bar {
  -webkit-backface-visibility: hidden;
  background: #fff;
  color: #212121;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
}

.mobile-wrap .tab-bar section.right-small {
  border-left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mobile-wrap .tab-bar section.right-small a {
  display: inline-block;
}

.mobile-wrap .tab-bar section.left-small {
  border-right: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mobile-wrap .tab-bar section.left-small a {
  display: inline-block;
}

.mobile-wrap .tab-bar section.back-nav.left-small {
  border-right: 1px solid #d7d7d7;
}

.mobile-wrap .tab-bar section.back-nav.left-small .icon-angle-left {
  position: relative;
  left: -.3125rem;
  font-size: 230%;
  color: #d22c25;
}

.mobile-wrap .tab-bar .logo {
  height: 95%;
  width: auto;
}

.mobile-wrap #search-header nav.tab-bar {
  background-image: none;
}

.mobile-wrap #search-header nav.tab-bar input.search-input {
  margin-top: .3125rem;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mobile-wrap #search-header nav.tab-bar .close-nav-link,
.mobile-wrap #search-header nav.tab-bar .search-nav-link {
  width: inherit;
  height: inherit;
  display: inline-block;
}

.mobile-wrap #search-header nav.tab-bar .close-nav {
  -webkit-box-shadow: 1px 0 0 #f1f1f1!important;
  box-shadow: 1px 0 0 #f1f1f1!important;
}

.mobile-wrap #search-header nav.tab-bar .close-nav .icon-cancel:before {
  font-size: 150%;
  position: relative;
  left: .4375rem;
  color: #eb908c;
}

.mobile-wrap #search-header nav.tab-bar .search-nav {
  -webkit-box-shadow: -1px 0 0 #f1f1f1!important;
  box-shadow: -1px 0 0 #f1f1f1!important;
}

.mobile-wrap #search-header nav.tab-bar .search-nav .search-nav-link {
  font-size: 1rem;
}

.mobile-wrap #search-header nav.tab-bar .search-nav .search-icon:before {
  vertical-align: baseline;
  position: relative;
  left: -.7875rem;
  color: #fff;
}

.mobile-wrap #search-header nav.tab-bar .search-location {
  width: 100%;
  background: #f6f6f6;
  position: relative;
  top: 2.875rem;
  max-height: 2.8125rem;
  min-height: 2.8125rem;
  padding: .1875rem;
}

.mobile-wrap #search-header nav.tab-bar .search-location .location-placeholder {
  padding-left: .625rem;
  padding-top: .3125rem;
  color: #212121;
  vertical-align: super;
}

.mobile-wrap #search-header nav.tab-bar .search-location .location-placeholder .icon-direction {
  color: #a4a4a4;
}

.mobile-wrap #search-header nav.tab-bar .search-location .location-input {
  display: inline-block;
  background: 0 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  top: -.3125rem;
  left: -1.25rem;
}

.mobile-wrap nav.tab-bar {
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.3);
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
  background-color: #fff;
  background-image: -webkit-gradient(linear,top left,bottom left,from(#fff),to(#f7f7f7));
  background-image: -webkit-linear-gradient(top,#fff 0,#f7f7f7 100%);
  background-image: linear-gradient(to bottom,#fff 0,#f7f7f7 100%);
}

.mobile-wrap nav.tab-bar .opera-mini {
  display: none;
}

.mobile-wrap nav .search-icon:before {
  color: #d22c25;
  font-size: 150%;
  vertical-align: middle;
}

ul.off-canvas-list {
  height: auto!important;
}

ul.off-canvas-list li .profile {
  text-align: center;
  padding-top: .9375rem;
  text-transform: capitalize;
}

ul.off-canvas-list li .profile .profile-img {
  border-radius: 3.125rem;
  display: inline;
  border: 2px solid #d22c25;
  padding: .3125rem;
  background-color: inherit;
}

ul.off-canvas-list li .profile .profile-name {
  font-size: 120%;
  width: inherit;
  display: inline-block;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  color: #fff;
}

ul.off-canvas-list li .profile .profile-name a {
  border-bottom: 0;
  color: inherit;
}

.mobile-footer {
  background-color: #252525;
  padding-top: 3.125rem;
  padding-bottom: .0625rem;
}

.mobile-footer .footer-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 75rem;
  *zoom: 1;
  margin-bottom: 1.25rem;
}

.mobile-footer .footer-row:after,
.mobile-footer .footer-row:before {
  content: " ";
  display: table;
}

.mobile-footer .footer-row:after {
  clear: both;
}

.mobile-footer .footer-row a {
  font-size: 80%;
  color: #ccc;
}

.mobile-footer .footer-row .copyright {
  color: #b3b3b3;
  margin-top: -1.25rem;
  text-transform: uppercase;
  font-size: 70%;
}

.mobile-footer .footer-row.no-margin-bottom {
  margin-bottom: 0;
}

.mobile-jumbotron {
  background-color: #5f4340;
  background-image: url(../img/home_bg.jpg);
  padding-top: 1.875rem;
}

.mobile-jumbotron .search-divider {
  color: #0d853d;
  text-transform: lowercase;
  font-weight: 700;
  margin-bottom: .3125rem;
  margin-top: .3125rem;
}

.mobile-jumbotron .search-divider:after,
.mobile-jumbotron .search-divider:before {
  background-color: #d22c25;
  height: 2px;
}

.mobile-quick-search {
  padding-top: 1.25rem;
}

.mobile-quick-search .search-items {
  list-style: none;
  margin-left: 0;
}

.mobile-quick-search .search-items .search-item {
  border-bottom: 1px solid #dcdcdc;
}

.mobile-quick-search .search-items .search-item .category-img i {
  font-size: 160%;
  padding: .875rem .75rem .75rem .6875rem;
  color: #000;
}

.mobile-quick-search .search-items .search-item .category-name {
  text-transform: capitalize;
  margin-top: 1.25rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-quick-search .search-items .search-item .category-name a {
  color: #212121;
}

.mobile-quick-search .search-items .search-item .category-name a:hover {
  text-decoration: underline;
}

.mobile-quick-search .view-more-link {
  color: #212121;
  font-size: 90%;
  text-decoration: underline;
  text-transform: capitalize;
}

.connect-your-business {
  background-color: #448ccb;
  padding-top: 1.25rem;
  margin-top: 1.25rem;
}

.connect-your-business h4 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: .625rem;
  line-height: 1.6;
}

.mobile-featured-businesses {
  padding-top: .625rem;
}

.mobile-featured-businesses .featured-businesses-header .mobile-container {
  border-bottom: 1px solid #212121;
  margin-bottom: 1.25rem;
  padding-bottom: .125rem;
}

.mobile-featured-businesses .featured-businesses-header h5 {
  text-transform: uppercase;
  color: #0d853d;
}

.mobile-featured-businesses .featured-business-container {
  border-bottom: 1px solid #d7d7d7;
  padding-top: .625rem;
  padding-bottom: .3125rem;
}

.results-header {
  margin-top: .625rem;
}

.results-header h6 {
  text-transform: uppercase;
  color: #0d853d;
  font-size: 90%;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-requirements .post-requirements-form fieldset {
  border-color: #d22c25;
  background-color: #fff799;
  padding-bottom: .625rem;
  padding-top: .625rem;
}

.post-requirements .post-requirements-form .form-header a {
  color: #d22c25;
}

.post-requirements .post-requirements-form .prefix {
  background: #fff;
  border-right: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.post-requirements .post-requirements-form .phone-number {
  border-left: 0;
}

.post-requirements .post-requirements-form input[type=text] {
  margin-bottom: .375rem;
}

.post-requirements .post-requirements-form [type=submit] {
  margin-bottom: 0;
}

.filter-results .mobile-container {
  border-bottom: 1px solid #d7d7d7;
}

.filter-results .filters {
  display: block;
  width: auto;
  overflow: hidden;
  margin: -.25rem 0 1.125rem;
  padding-top: .25rem;
  margin-right: 0;
  margin-left: -.75rem;
}

.filter-results .filters li {
  float: left;
  display: inline;
  margin-left: 1rem;
  margin-bottom: .625rem;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: .875rem;
  color: #999;
}

.filter-results .filters li a {
  text-decoration: none;
  color: #999;
  padding: .1875rem 1rem;
}

.filter-results .filters li a:hover {
  color: #737373;
}

.filter-results .filters li.active a {
  border-radius: 3px;
  font-weight: 400;
  background: #d22c25;
  padding: .1875rem 1rem;
  cursor: default;
  color: #fff;
}

.filter-results .filters li.active a:hover {
  background: #198a3d;
}

.filter-results .filters .header {
  text-transform: uppercase;
}

.filter-results .filters li {
  margin-bottom: 0;
}

.filter-results .filters li.active a:focus,
.filter-results .filters li.active a:hover {
  background: #a7231d;
}

.result-item.sponsored .mobile-container {
  background-color: #fffaef;
  -webkit-box-shadow: 1px 1px 1px rgba(252,215,215,.44);
  box-shadow: 1px 1px 1px rgba(252,215,215,.44);
  border-bottom-color: #ffeabc;
}

.result-item .mobile-container {
  border-bottom: 1px solid #d7d7d7;
  padding-top: 1.25rem;
  padding-bottom: .125rem;
}

.search-pagination .mobile-container {
  padding: 0;
}

.search-pagination .mobile-container .view-more {
  display: block;
  color: #141414;
  background-color: #EBEBEB;
  background-image: -webkit-gradient(linear,top left,bottom left,from(#ebebeb),to(#c4c4c4));
  background-image: -webkit-linear-gradient(top,#ebebeb 0,#c4c4c4 100%);
  background-image: linear-gradient(to bottom,#ebebeb 0,#c4c4c4 100%);
  padding-top: .625rem;
  padding-bottom: .625rem;
  font-size: 90%;
  border: 1px solid rgba(172,166,166,.26);
}

.search-form .location-row {
  position: relative;
  position: relative;
  left: -15px;
}

.top-business-info-container {
  padding-top: 1.5625rem;
  border-bottom: 1px solid #d7d7d7;
  background-color: #f8f8f8;
}

.top-business-info-container .top-business-info {
  margin-bottom: .9375rem;
}

.business-contact-info {
  margin-top: .625rem;
}

.business-contact-info table {
  width: 100%;
  border: 0;
}

.business-contact-info table .info-detail a {
  color: #3499ff;
  text-decoration: underline;
}

.details-header {
  text-transform: uppercase;
  border-bottom: 1px solid #d7d7d7;
  font-size: 80%;
  margin-bottom: .625rem;
}

.details-header h4 {
  font-size: 98%;
  margin-bottom: 0;
  display: inline;
}

.details-header h4 small {
  font-size: 80%;
}

.details-header h4 small a {
  text-transform: capitalize;
}

.report-business {
  border-top: 1px solid #d7d7d7;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 10px;
}

.product-list,
.service-list {
  margin-left: -.675rem;
}

.product-list .business-product,
.service-list .business-service {
  font-size: 80%;
  margin-left: .6875rem;
}

.product-list .business-product a,
.service-list .business-service a {
  color: #3499ff;
  text-decoration: underline;
}

.business-photos .add-photo {
  text-transform: capitalize!important;
}

.business-reviews .business-review {
  padding-top: .625rem;
  border-bottom: 1px solid #d7d7d7;
}

.business-reviews .business-review .review-header .reviewer-img {
  padding-left: 0;
  padding-right: 0;
  width: 16.66667%;
  float: left;
}

.business-reviews .business-review .review-header .reviewer-img img {
  width: 3.125rem;
}

.business-reviews .business-review .review-header .reviewer-name {
  width: 58.33333%;
  float: left;
  padding-left: .625rem;
  padding-right: .625rem;
}

.business-reviews .business-review .review-header .reviewer-name h6 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1;
  font-size: 90%;
}

.business-reviews .business-review .review-header .reviewer-name .user-name {
  color: #585858;
  font-weight: 700;
}

.business-reviews .business-review .review-header .reviewer-name .rating-stars {
  line-height: .6;
  margin-left: -.25rem;
}

.business-reviews .business-review .review-header .review-time {
  padding-left: 0;
  padding-right: 0;
  width: 25%;
  float: left;
}

.business-reviews .business-review .review-header .review-time p {
  font-size: 65%;
  padding-top: .1875rem;
  padding-left: .625rem;
}

.business-reviews .business-review .review-body {
  padding-bottom: .3125rem p;
  padding-bottom-font-size: 80%;
  padding-bottom-margin-bottom: .3125rem;
}

.rate-business-container .rate-business-intro {
  font-size: 85%;
  font-style: italic;
  line-height: 1.4;
  color: #585858;
  padding-top: .625rem;
}

.rate-business-container .rating-form .mobile-container {
  padding-left: 0;
  padding-right: 0;
}

.rate-business-container .rating-form form .rating-option .radio-holder {
  padding-left: 0;
  padding-right: 0;
  width: 8.33333%;
  float: left;
  padding-top: .3125rem;
}

.rate-business-container .rating-form form .rating-option .radio-holder input[type=radio] {
  width: .9375rem;
  height: .9375rem;
  margin-bottom: .3125rem;
}

.rate-business-container .rating-form form .rating-option .rating-holder {
  padding-left: 0;
  padding-right: 0;
  width: 33.33333%;
  float: left;
}

.rate-business-container .rating-form form .rating-option .rating-holder .rating-stars .rating-star-empty:before,
.rate-business-container .rating-form form .rating-option .rating-holder .rating-stars .rating-star:before {
  font-size: 85%;
}

.rate-business-container .rating-form form .rating-option .rating-text {
  padding-left: 0;
  padding-right: 0;
  width: 58.33333%;
  float: left;
}

.rate-business-container .rating-form form .rating-option .rating-text p {
  margin-bottom: 0;
}

.rate-business-container .rating-form form .rating-option .rating-text strong {
  font-size: 75%;
}

.rate-business-container .rating-form form .rating-option .rating-text small {
  font-size: 70%;
  color: #bebebe;
}

.rate-business-container .rating-form form .review-section {
  padding-top: 1.25rem;
}

.rate-business-container .rating-form form .review-section label {
  font-weight: 700;
}

.rate-business-container .rating-form form .review-section textarea {
  min-height: 6.25rem;
}

.get-directions-form {
  padding-top: .625rem;
}

.get-directions-form label {
  font-weight: 700;
}

.way-points-header {
  background: #d7d7d7;
  margin-top: .625rem;
  max-height: 3.125rem;
}

.way-points-header ul[class*=block-grid-] {
  padding: .6875rem;
}

.way-points-header ul[class*=block-grid-] li.distance,
.way-points-header ul[class*=block-grid-] li.travel-time {
  color: #d22c25;
  font-weight: 700;
  font-size: 90%;
}

.way-points .mobile-container {
  padding-left: 0;
  padding-right: 0;
}

.way-points ol.inline-list {
  font-size: 84%;
  width: 100%;
  margin-left: 0;
}

.way-points ol.inline-list li.way-point {
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: .6em .5em .6em 1em;
  color: #333;
  display: -webkit-flex;
  display: box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  -ms-flex-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  box-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 0;
}

.map-box {
  min-height: 12.5rem;
  background-color: #d7d7d7;
}

.verify-phone-form #claim-other-number {
  height: 20%;
  margin-top: -.375rem;
  margin-bottom: 0;
}

.claim-explainer {
  padding-top: .625rem;
  margin-top: .625rem;
  border-top: 1px solid #d7d7d7;
}

.claim-explainer p {
  font-size: 80%;
}

.verify-code-form {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.verify-code-form .resend-link {
  color: #d22c25;
  font-size: 80%;
  padding-left: .3125rem;
  text-decoration: underline;
}

.claimed-message {
  font-size: 80%;
  color: #d22c25;
  background: #fae3e3;
  border: 1px solid #efa5a1;
  padding: .3125rem;
  margin-top: .3125rem;
}

.report-incorrect-container {
  padding-bottom: .625rem;
  padding-top: .9375rem;
}

.report-incorrect-container .report-incorrect-form input[type=checkbox] {
  margin-bottom: .625rem;
  height: .9375rem;
  width: .9375rem;
}

.report-incorrect-container .report-incorrect-form label {
  margin-bottom: 0;
}

.report-incorrect-container .report-incorrect-form textarea {
  min-height: 9.375rem;
}

.send-sms-form {
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
}

.send-sms-form form label {
  font-weight: 700;
}

.send-sms-form form span.prefix {
  background: #fff;
  border-right: 0;
}

.business-registed-container,
.register-business-form {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.login-container {
  padding-top: 1.25rem;
}

.login-container .login-divider {
  text-transform: uppercase;
  margin-bottom: .9375rem;
}

.login-container .alternate-actn {
  font-size: 80%;
  padding-left: .125rem;
}

.login-container .alternate-actn a {
  text-decoration: underline;
}

.login-container .two-fileds {
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 50%;
  float: left;
}

.login-container .two-fileds.first {
  padding-right: .15625rem;
}

.login-container .two-fileds.last {
  padding-left: .15625rem;
}

.share-container {
  padding-top: 1.875rem;
  padding-bottom: 1.25rem;
}

.verify-container {
  padding-top: 35px;
  min-height: 260px;
}

.verify-holder {
  padding-bottom: .625rem;
  margin-bottom: .625rem;
}

.verify-holder.top {
  position: relative;
  top: -.9375rem;
  border-bottom: 1px solid #d7d7d7;
}

.verify-holder.bottom h4 small {
  font-size: 85%;
  text-transform: capitalize;
}

.verify-holder.bottom h4 small a {
  text-decoration: underline;
}

.verify-holder .verify-message {
  margin-bottom: 0;
}

.photo-gallery {
  padding-top: 1.25rem;
}

.add-photo-container {
  padding-top: 1.25rem;
}

.add-photo-container .add-photo-form textarea {
  min-height: 7.5rem;
}

.feedback-container {
  padding-top: 1.25rem;
}

.feedback-container label {
  font-weight: 700;
}

.feedback-container textarea {
  min-height: 6.25rem;
}

.feedback-explainer {
  padding-top: .625rem;
  border-top: 1px solid #d7d7d7;
}

.category-list-container {
  padding-top: 1.25rem;
}

.category-list li {
  padding-top: .625rem;
  padding-bottom: .625rem;
  border-bottom: 1px solid #d7d7d7;
}

.category-list li.title {
  background: #d7d7d7;
  color: #585858;
  font-weight: 700;
}

.category-list li a {
  color: #8b8b8b;
}

.category-list li a span {
  display: inline-block;
  width: 90%;
}

.category-list li a span strong {
  font-weight: 500;
  line-height: 1;
  display: block;
}

.category-list li a span small {
  font-size: 75%;
  line-height: inherit;
}

.events-list li {
  padding-top: .625rem;
  padding-bottom: .625rem;
  border-bottom: 1px solid #d7d7d7;
}

.events-list li a {
  color: #8b8b8b;
  display: inline-block;
  width: 100%;
}

.events-list li a .date {
  font-weight: 700;
  line-height: 1;
  display: block;
}

.events-list li a .location {
  font-size: 75%;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.businesss-fourm-details-header {
  padding-top: 1.5625rem;
  border-bottom: 1px solid #d7d7d7;
  background-color: #f8f8f8;
  margin-bottom: .9375rem;
}

.businesss-fourm-register .businesss-fourm-form .two-fileds {
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 50%;
  float: left;
}

.businesss-fourm-register .businesss-fourm-form .two-fileds.first {
  padding-right: .15625rem;
}

.businesss-fourm-register .businesss-fourm-form .two-fileds.last {
  padding-left: .15625rem;
}

.advertise-row {
  padding-top: .625rem;
}

.advertise-row .header {
  font-weight: 700;
  text-align: center;
}

.advertise-row .content {
  font-size: 80%;
  text-align: center;
}

.contact-details .vcard {
  min-width: 100%;
}

.contact-details .vcard li {
  font-size: 80%;
}

.terms-container {
  padding: 10px;
}

.terms-container p {
  font-size: 85%;
  line-height: 1.5;
  text-align: justify;
}

.terms-container h4,
.terms-container h5 {
  font-weight: bolder;
  line-height: 1;
  color: #000;
  font-size: 90%;
}

.terms-container ol {
  margin-left: 0;
}

.terms-container ol li {
  margin-bottom: 10px;
}

.terms-container ul.terms-list-holder li {
  padding-top: .625rem;
  padding-bottom: .625rem;
  border-bottom: 1px solid #d7d7d7;
}

.terms-container ul.terms-list-holder li a {
  color: #8b8b8b;
}
