﻿@model Vconnect.Models.UserDashboardModel
@{
    ViewBag.Title = "userphotos";
    Layout = "~/Views/Shared/_WapUDInnerMaster.cshtml";
}

<!-- Detect and fix mobile browser issues -->

@*        <div class="gray-header">
            <div class="mobile-container">
               
                 @if (Model != null)
                  {
                      if (Model.IsErr == 0)
                      {
                          if (Model.listPhotosAddedByUser != null && Model.listPhotosAddedByUser.Count > 0)
                          { 
              
                    <h4><span class="profile-name">@(Model.listPhotosAddedByUser[0].UserName.ToString().Trim() + "'s")</span> Photos</h4>
                          }
                      }
                  }
            </div>
        </div>*@
@section Bottom{
    <nav class="tab-bar">
        <section class="left-small back-nav">
            @if (Request.QueryString["uid"] != null)
            { 
                <a class="back-nav-link" href="/UserDashboard/UserProfile?id=@Request.QueryString["uid"]">
                    <span><i class="icon-angle-left"></i></span>
                </a>
            }
            else
            {
                <a class="back-nav-link" href="/UserDashboard/UserProfile">
                    <span><i class="icon-angle-left"></i></span>
                </a>
            }
        </section>
        <section class="middle tab-bar-section">
            <a href="@System.Configuration.ConfigurationManager.AppSettings["WebsiteRootPath"].ToString()">
                <img src="http://m.vconnect.com/img/vconnect-logo-small.png" alt="Vconnect.com" title="Vconnect.com" class="logo"></a>
        </section>
    </nav>
}
@if (@TempData["UserAlert"] != null)
{
    @Html.Raw(@TempData["UserAlert"])
}
<div class="photo-gallery-container">
    <div class="gray-header">
        <div class="mobile-container">
            @if (Model != null)
            {
                if (Model.IsErr == 0)
                {
                    if (Model.listPhotosAddedByUser != null && Model.listPhotosAddedByUser.Count > 0)
                    { 
              
                <h4><span class="profile-name">@(Model.listPhotosAddedByUser[0].UserName.ToString().Trim() + "'s")</span> Photos</h4>
                    }
                }
            }
        </div>
    </div>
    @if (Model != null)
    {
        if (Model.IsErr == 0)
        {
            if (Model.listPhotosAddedByUser != null && Model.listPhotosAddedByUser.Count > 0)
            {         
        <div class="photo-gallery">
            <div class="mobile-container">

                <ul class="small-block-grid-3 gallery-photos">

                    @foreach (Vconnect.Models.UserDashboardModel.ListPhotosAddedByUser lp in Model.listPhotosAddedByUser)
                    {
                        if (lp.PhotoThumb != null && @lp.PhotoThumb.ToString().Trim() != "")
                        { 
                        <li class="photo">
                            <a href="@lp.Photo"  class="th" data-uploder="" data-comment="">
                                <img src="@lp.PhotoThumb" alt="@lp.UserName">
                            </a></li>
                        }
                    }
                </ul>
            </div>
        </div>
            }
            else if (!string.IsNullOrEmpty(Request.Cookies["VCUserContentID"].Value.ToString().Trim()) && Model.uid != Convert.ToInt32(Request.Cookies["VCUserContentID"].Value.ToString().Trim()))
            {
        <div class="tab-content activity row" data-footer="activity">
            <div class="activity-stream mobile-container">
                <div class="small-12 stream-container no-stream-content columns">
                    <h4 class="title text-center">
                        @Model.userName

                        <br>
                        currently have no photo</h4>
                </div>
            </div>
        </div>
                   
            }
            else if (!string.IsNullOrEmpty(Request.Cookies["VCUserContentID"].Value.ToString().Trim()) && Model.uid != Convert.ToInt32(Request.Cookies["VCUserContentID"].Value.ToString().Trim()))
            {<div class="tab-content activity row" data-footer="activity">
                 <div class="activity-stream mobile-container">
                     <div class="small-12 stream-container no-stream-content columns">
                         <h4 class="title text-center">
                             @Model.userName
                             <br>
                             currently have no photo</h4>
                     </div>
                 </div>
             </div>
            }
            else
            {<div class="photo-gallery">

                 <div class="mobile-container">
                     <div class="row">
                         <div class="mobile-container">
                             <div class="text-center">
                                 <div class="no-photo">
                                     <i class="icon-picture one"></i>
                                     <i class="icon-picture two"></i>
                                 </div>
                                 <p>You don't have any photos yet. Follow the steps below to add photos to your account.</p>

                                 <p>
                                     <strong><a href="#" class="black">@if (Model != null && Model.listPhotosAddedByUser != null && Model.listPhotosAddedByUser.Count > 0)
                                                                       {
                                                                           Model.userName.ToString().Trim();
                                                                       } </a></strong>has not added any photos yet :(
                                 </p>
                             </div>
                             <hr>
                         </div>
                     </div>
                     <div class="row">
                         <div class="small-4 columns no-content-steps">
                             <div class="step">
                                 <span class="step-icon"><i class="icon-search-alt"></i></span>
                                 <p class="step-details"><strong>Search</strong> for a business</p>
                             </div>
                         </div>
                         <div class="small-4 columns no-content-steps">
                             <div class="step">
                                 <span class="step-icon"><i class="icon-flag"></i></span>
                                 <p class="step-details"><strong>Select</strong> it from the results</p>
                             </div>
                         </div>
                         <div class="small-4 columns no-content-steps">
                             <div class="step">
                                 <span class="step-icon"><i class="icon-plus"></i></span>
                                 <p class="step-details"><strong>Add</strong> photos of it</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
            }
        }
    }




</div>

@*<a href="" class="exit-off-canvas"></a>
<script type="text/javascript">
    if (isOperaMini) {
        loadJs([{ 'src': "/js/mobile/min/opera.min.js", 'defer': 'defer', 'async': 'async' }]);
    } else {
        loadJs([{ 'src': "/js/mobile/min/foundation-plugin.min.js", 'defer': 'defer', 'async': 'async' }]);     
    }
</script>

<!--[if lt IE 10]><script type="text/javascript">  loadJs(["/js/min/placeholder-fix.min.js"] )</script> <![endif]-->*@
