﻿@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0}

/*=========================================================================== Header Area Start*/
#wap-db-header-area{width:100%;
	padding-bottom:5px;
	margin-top:24px;
	border-top:#fff 1px solid;
	border-bottom:#fff 1px solid;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.wap-db-top-strip{
	height:24px;
	width:100%;
	position:absolute;
	background-color:#e91705;
	font-family:Tahoma, Calibri, Arial;
	font-size:12px;
	color:#FFF;
	line-height:22px;
	left: 0px;
	top: -2px/;
}

.wap-db-top-strip-l{float:left;
	margin-left:5px;
}

.wap-db-top-strip-r{
	float:right;
	margin-right:2px;
	height:24px;
	width:auto;
}

.wap-db-top-strip-r a{color:#FFF; text-decoration:none;}
.wap-db-top-strip-r a:hover{color:#000; text-decoration:none;}

.wap-db-top-strip-login{float:left;
	padding-left:22px;
	padding-right:5px;
}

.wap-db-top-strip-registration{float:left;
	padding-left:20px;
	margin-left:3px;
}

.wap-db-vc-logo{width:180px;
	height:auto;
	margin:0 auto;
	padding-top:5px;
}
/*=========================================================================== Header Area Close*/

/*=========================================================================== User Dash Board Home Start*/
.red-mandatory{color:#F00;}
.green-text{color:#090;}

#user-db-area{width:98%;
	height:auto;
	margin:0 auto;
	padding-top:2px;
	/*padding-bottom:5px;*/
	font-family:Arial, Calibri, "Myriad Pro", Tahoma;
}

.clear{clear:both;}
.clear-8{clear:both; height:8px;}

.db-title-area-wht{width: auto;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e4e3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e4e3e3));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#e4e3e3 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#e4e3e3 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#e4e3e3 100%);
	background: linear-gradient(to bottom, #f9f9f9 0%,#e4e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e4e3e3',GradientType=0 );
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #c5c5c5;
	font-size:14px;
	margin-bottom:5px;
}

.db-title-area-wht a{padding:10px 8px;
	color:#333;
	display:block;
	text-decoration:none;
	background:url(../images/blk-arrow-right.png) no-repeat right;
	margin-right:8px;
}

.db-title-area-grn{list-style:none;
	background:#55a526 url(../images/gren-tab-bg.gif) repeat-x;
	margin-bottom:1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding:10px 8px;
	color:#FFF;
	font-size:90%;
}
.db-title-area-grn img{float:left;
	margin-right:8px;
	margin-top:-2px;
}

.db-title-area-grn a{
	text-decoration:none;
	color:#FFF;
	font-size:90%;
	float:right;
}

.db-title-area-grn-sms{list-style:none;
	background:#55a526 url(../images/gren-tab-bg.gif) repeat-x;
	margin-bottom:5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding:10px 8px;
	color:#FFF;
	font-size:14px;
}
.db-title-area-grn-sms img{float:left;
	margin-right:8px;
	margin-top:-2px;
}

.db-title-area-grn-sms a{
	text-decoration:none;
	color:#FFF;
	font-size:90%;
	float:right;
}

.db-heading-text{
	font-size: 13px;
	font-weight: 700;
	color: #333;
	padding:7px 8px;
	border:#dcdcdc 1px solid;
	margin-bottom:5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.db-heading-text a{float:right;
	color:#000;
	text-decoration:none;
}

.db-title-area{width:auto;
	height:auto;
	background:#79797b;
	font-size:14px;
	margin-bottom:5px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.db-title-area a{padding:10px 8px;
	color:#FFF;
	display:block;
	text-decoration:none;
}

.user-db-tabs{width:auto;
	height:auto;
	font-family:Arial, Calibri, "Myriad Pro", Tahoma;
}
.user-db-tabs ul{padding:0;
	margin:0;
	list-style:none;
}
.user-db-tabs li{list-style:none;
	background:url(http://197.255.212.150/newwap/Images/UserDb/gren-tab-bg.gif) repeat-x;
	margin-bottom:5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.user-db-tabs li img{float:left;
	margin:8px 6px 0px 6px;
}
.user-db-tabs li:nth-child(4) img{margin:10px 6px 0px 6px;}

.user-db-tabs li a{display:block;
	text-decoration:none;
	color:#FFF;
	font-size:14px;
	padding:10px;
}

/*-------------------- Latest Review page*/
.db-review-holder{width:98%;
	margin:0 auto;
}

.db-review-list{background:#f2f6ef;
	padding:3px 10px;
	border:#d8d8d8 1px solid;
	margin-bottom:5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

.db-review-name{font-size:90%;
	color:#333;
	text-decoration:underline;
	font-style:italic;
}
.db-review-date{font-size:78%;
	color:#222;
	
}
.db-review-title{font-size:90%;
	color:#387e00;
}

.db-review-text{font-size:12px;
	color:#444;
	line-height:16px;
}

/*-------------------- My Favorite page*/
.db-favorite-holder{width:98%;
	margin:0 auto;
}

.db-favorite-list{background:#f2f6ef;
	padding:3px 8px;
	border:#d8d8d8 1px solid;
	margin-bottom:8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}
.db-favorite-name{font-size:90%;
	color:#333;
	text-decoration:underline;
	font-style:italic;
}
.db-favorite-place{font-size:90%;
	color:#222;
	padding:2px 0px;
}
.db-favorite-cont-detail{width:auto;
	height:auto;
	padding:4px 0px;
	text-align:center;
}
.db-favorite-phone{font-size:90%;
	color:#222;
	padding:3px 0px;
}

.db-favorite-send-bt{
	padding:4px 10px;
	color: #FFF;
	background-color: #555;
	font-size: 13px;
	font-family: Arial,Calibri, Tahoma;
	border: none;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*-------------------- Edit Details page*/
.db-title-form{width:auto;
	height:auto;
	background:#c5c5c5;
	font-size:90%;
	padding:6px 8px;
	color:#000;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.db-title-form a{float:right;
	text-decoration:none;
	color:#000;
}

.db-title-form-white{width:auto;
	height:auto;
	font-size:14px;
	padding:6px 8px;
	color:#333;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	width: auto;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e4e3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e4e3e3));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#e4e3e3 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#e4e3e3 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#e4e3e3 100%);
	background: linear-gradient(to bottom, #f9f9f9 0%,#e4e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e4e3e3',GradientType=0 );
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #c5c5c5;
	margin-top:8px;
}

.db-title-form-white a{float:right;
	text-decoration:none;
	color:#090;
}

.db-form-holder{
	border:#d3d3d3 1px solid;
	border-top:none;
	padding:8px;
	margin-bottom:8px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.db-edit-img{padding:2px;
	border:#CCC 1px solid;
	width:60px;
	height:60px;
	float:left;
}
.db-edit-img img{width:60px;
	height:60px;
}
.db-upload-img{width:auto;
	float:left;
	padding-top:10px;
}

.db-form-text{
	padding: 5px 0px 1px 2px;
	font-size: 90%;
	color: #333;
}

.db-form-text a{color: #333; text-decoration:none; float:right;
}

.db-form-field{padding:0px 0px;
}

.db-form-field-eg{font-size:70%; padding:2px 0px; text-align:right; color:#999;}

.db-form-field input[Type="text"] {
	width:96%;
	border: #c3c3c3 1px solid;
	height: 40px;
	padding-left: 3px;
	padding-right: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 30%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(30%,#ffffff));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 30%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#ffffff 30%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#ffffff 30%);
	background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}

.db-form-field input[Type="password"] {
	width:96%;
	border: #c3c3c3 1px solid;
	height: 32px;
	padding-left: 3px;
	padding-right: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 30%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(30%,#ffffff));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 30%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#ffffff 30%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#ffffff 30%);
	background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}

.db-form-field textarea {
	width: 96%;
	height: 60px;
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	border: #c3c3c3 1px solid;
	padding-left: 3px;
	padding-right: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 30%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(30%,#ffffff));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 30%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#ffffff 30%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#ffffff 30%);
	background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
}

.db-form-field-select{
	width:96%;
	height: 24px;
	padding: 2px;
	border: #c3c3c3 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
}

.db-form-row{padding:1px 0px;
}
.db-form-col{width:auto;
	float:left;
	margin-right:5px;
	font-size:90%;
}

.db-form-birth-select{
	width:auto;
	height: 24px;
	padding: 2px;
	border: #c3c3c3 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
}

.db-form-submit{
	/* [disabled]width:80px; */
	padding: 8px 0px;
	margin: 0 auto;
	text-align: center;
}

.db-form-submit-bt{
	padding:4px 10px;
	color: #FFF;
	background-color: #bf0000;
	font-size: 14px;
	font-family: Arial,Calibri, Tahoma;
	border: none;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.sms-limit-holder{background:#f6f6f6;
	border:#d3d3d3 1px solid;
	border-top:none;
	margin-bottom:8px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.sms-limit-row{border-bottom:#e9e9e9 1px solid; font-size:90%}

.sms-limit-holder-col-l{float:left;
	width:60%;
	padding:8px 10px;
	color:#666;
}
.sms-limit-holder-col-r{float:right;
	padding:8px 5px;
	width:22%;
	text-align:center;
	border-left:#e9e9e9 1px solid;
}

.db-contact-list{width:auto;
	
	border:#CCC 1px solid;
	background:#FFF;
	margin-top:5px;
	font-size:12px;
	color:#666;
	padding:5px 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
}

.db-contact-list ul{padding:0;
	margin:0;
	list-style:none;
}

.db-contact-list li{padding:6px 4px;
	display:block;
	border-bottom:#CCC dotted 1px;
}
.db-contact-list li:last-child{border-bottom:none;}

.db-contact-list-name{float:left; margin-left:8px;}
.db-contact-list-name a{color:#090; text-decoration:none; margin-left:5px;}
.db-contact-list-name h1{font-size:12px; color:#333; padding:0; margin:0; margin-bottom:2px;}
.db-contact-list-check{float:left; margin-left:2px;}

/*=========================================================================== User Dash Board Home Close*/
.mandatory{color:red; font-size:11px;}
.cross-bt{float:right;}
.cross-bt{float:right;}

 .pagination-new{float:right; margin-top:5px;}
.pagination-new a{padding:1px 5px; float:left; display:block;border: 1px solid #ccc; margin:0px 3px;}
.pagination-new a:hover{background: url(http://197.255.212.150/newwap/images/pagingBg.jpg) repeat-x left bottom;
border: 1px solid #ccc;color: #fff;}
.pagination-new span{padding:1px 5px;float:left; display:block; font-weight:700;border: 1px solid #999;}
.acsummary-new{ float:left;border-top:1px solid #999; border-left:1px solid #999;margin-top:2px;}
.acsummary-new table tr td{border-right:1px solid #999;border-bottom:1px solid #999; padding:3px;}
