﻿@model  IList<Vconnect.Models.feed>
@{ 
    Layout = "~/Views/Shared/_WAPMainMaster.cshtml";
}
 

<div class="mobile body">
	<nav class="menu-bar">
		<div class="mobile-container">
			<ul class="menu-items small-block-grid-4">
				<li class="menu-item active"><a href="userfeed">Feed</a></li>
				<li class="menu-item"><a href="usernotifications">Alerts</a></li>
				<li class="menu-item"><a href="userprofile">Profile</a></li>
				<li class="menu-item"><a href="usersettings">Settings</a></li>
			</ul>
		</div>
	</nav>
    @if (Model!=null && Model.Count!=0)
    {
        
    
	<div class="feeds-container">
		<div class="feeds row">
            @foreach (var item in Model)
            {
                 
                <div class="activity-stream mobile-container">
				<div class="small-12 columns stream-container">
                    @if (item.activity == 5)
	{
		 <div class="stream-header row">
						<div class="small-3 columns photo-container">
							<img src="@item.UserPhoto" alt="@item.contactname" class="profile-photo">
						</div>
						<div class="small-9 columns activity-container">
							<p>
								<span class="username"><a  href="userprofile?id=@item.userid">@item.contactname </a></span>
								<span class="user-action">Followed</span>
								<span class="follow-count"><a  href="userprofile?id=@item.businessname">@item.detail</a></span>
								<span class="time">@Vconnect.Models.TimeCalculate.Posted_TimeAgo(item.createddate).</span>
							</p>
						</div>
					</div>

				 
							
					<div class="stream-footer row">
						<div class="action-stats mobile-container">
						</div>
					</div>
	}
                     @if (item.activity == 2)//==== photo
                     {
					<div class="stream-header row">
						<div class="small-3 columns photo-container">
							<img src="@item.UserPhoto" alt="@item.contactname" class="profile-photo">
						</div>
						<div class="small-9 columns activity-container">
							<p>
								<span class="username"><a  href="userprofile?id=@item.userid">@item.contactname </a></span>
								<span class="user-action">added a photo of</span>
								<span class="business-name"><a href="/@item.businessurl">@item.businessname</a></span>
								<span class="time">@Vconnect.Models.TimeCalculate.Posted_TimeAgo(item.createddate).</span>
							</p>
						</div>
					</div>

					<div class="stream-content row">
						<div class="added-img">
							<div class="small-12 columns">
								<img src="@System.Configuration.ConfigurationManager.AppSettings["ImagesRootPath"].ToString()@item.companylogo" alt="Photo name" class="uploaded-photo large">
							</div>
						</div>
					</div>
							
						<div class="stream-footer row">
						<div class="action-stats mobile-container">
							 
						</div>
					</div>
                     }
                     else if (item.activity == 3) //==== review 
                     {
                        <div class="stream-header row">
						<div class="small-3 columns photo-container">
							<img src="@item.UserPhoto" alt="@item.contactname" class="profile-photo">
						</div>
						<div class="small-9 columns activity-container">
							<p>
								<span class="username"><a href="userprofile?id=@item.userid">@item.contactname</a></span>
								<span class="user-action">reviewed</span>
								<span class="business-name"><a href="/@item.businessurl">@item.businessname</a></span>
								<span class="time">@Vconnect.Models.TimeCalculate.Posted_TimeAgo(item.createddate).</span>
							</p>
						</div>
					</div>

					<div class="stream-content row">
						<div class="small-12 columns">
							<div class="wrote-review row">
								<div class="small-12 columns">
									<p class="review-body">
										@item.detail
									</p>
								</div>
							</div>
						</div>
					</div>
							
					<div class="stream-footer row">
						<div class="action-stats mobile-container">
							 
						</div>
					</div>
                     }
                     else if (item.activity == 4)//===== rating
                     {  
                          <div class="stream-header row">
						<div class="small-3 columns photo-container">
							<img src="@item.UserPhoto" alt="@item.contactname" class="profile-photo">
						</div>
						<div class="small-9 columns activity-container">
							<p>
								<span class="username"><a href="userprofile?id=@item.userid">@item.contactname</a></span>
								<span class="user-action">rated</span>
								<span class="business-name"><a href="/@item.businessurl">@item.businessname</a></span>
								<span class="time">@Vconnect.Models.TimeCalculate.Posted_TimeAgo(item.createddate).</span>
							</p>
						</div>
					</div>
                         
                          <div class="stream-content row">
						<div class="small-12 columns">
							<hr>
							<div class="business-info">
								<div class="small-2 columns business-logo-container">
									<img src="@System.Configuration.ConfigurationManager.AppSettings["ImagesRootPath"].ToString()@item.companylogo"  alt="@item.businessname" class="business-logo">
								</div>
								<div class="small-10 columns business-details-container">
									<h6 class="business-name">@item.businessname</h6>
								 
								</div>
							</div>
						<hr>
							<div class="rated row">
								<div class="small-12 columns">
									<strong>Rated: </strong>
									<ul class="rating-stars">
				                        @if (item.detail!=null)
	                                            {for (int i = 0; i < Convert.ToInt32(item.detail); i++)
                                                {
                                                    <li>
						                            <i class="rating-star"></i>
						                        </li>
                                                }
	                                            	 
                                                }
				                    </ul>
								</div>
							</div>
						</div>
					</div>
                         
                      	<div class="stream-footer row">
						<div class="action-stats mobile-container">
							 
						</div>
					</div>
                     }
                     else if (item.activity == 1) //=== Like
                     {  
					<div class="stream-header row">
						<div class="small-3 columns photo-container">
							<img src="@item.UserPhoto" alt="@item.contactname" class="profile-photo">
						</div>
						<div class="small-9 columns activity-container">
							<p>
								<span class="username"><a href="userprofile?id=@item.userid">@item.contactname</a></span>
								<span class="user-action">likes</span>
								<span class="business-name"><a href="/@item.businessurl">@item.businessname</a></span>
								<span class="time">@Vconnect.Models.TimeCalculate.Posted_TimeAgo(item.createddate).</span>
							</p>
						</div>
					</div>

					<div class="stream-content row">
						<hr>
							<div class="business-info">
								<div class="small-2 columns business-logo-container">
									<img src="@System.Configuration.ConfigurationManager.AppSettings["ImagesRootPath"].ToString()@item.companylogo"  alt="@item.businessname" class="business-logo">
								</div>
								<div class="small-10 columns business-details-container">
									<h6 class="business-name">@item.businessname</h6> 
								</div>
							</div>
						<hr>
					</div>
							
					<div class="stream-footer row">
						<div class="action-stats mobile-container">
							 
						</div>
					</div>
                     }

				</div>
			</div>
			
            }
			
		</div>
	</div>
        }
    else
    {
        <div class="tab-content activity row" data-footer="activity">
         <div class="activity-stream mobile-container">
             <div class="small-12 stream-container no-stream-content columns">
							<h4 class="title text-center"><br> currently you have no feeds</h4>
						</div>
             </div> </div>
         
    }

</div>
